html {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  color: #1E1B1B;
  background-color: #FFFFFF;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.heading-h1 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 130%;
  letter-spacing: -0.03em;
}

.heading-h2 {
  font-weight: 800;
  font-size: 58px;
  letter-spacing: -0.03em;
  line-height: 130%;
}

.heading-h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.heading-h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.heading-h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
}

.heading-h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.title-1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.title-2 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.caption {
  font-weight: 500;
  line-height: 150%;
  color: #616060;
}

.text-1 {
  font-size: 18px;
  line-height: 175%;
}

.caption-nums {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.button {
  font-size: 18px;
  line-height: 175%;
  color: #FFFFFF;
  padding: 16px 40px;
  background-color: #FF6433;
  border-radius: 12px;
  transition: 0.3s;
}
.button:hover {
  transform: scale(1.05);
}

.main__services {
  padding-top: 128px;
}

.header {
  height: 100vh;
  padding-bottom: 135px;
  display: flex;
  flex-direction: column;
}
.header__top-inner {
  padding: 18px 0 96px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  height: 28px;
  width: 122px;
}
.header__nav {
  margin-left: auto;
}
.header__nav-list {
  display: flex;
  gap: 40px;
}
.header__nav-link {
  position: relative;
}
.header__nav-link::after {
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #1E1B1B;
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}
.header__nav-link:hover::after {
  width: 100%;
  opacity: 0.9;
}
.header__contact-box {
  display: flex;
  gap: 14px;
  margin-left: 64px;
  align-items: center;
}
.header__contact-box::before {
  content: "";
  height: 42px;
  width: 1px;
  margin-right: 16px;
  background-color: #939191;
  opacity: 0.36;
}
.header .icon-contact {
  background-color: #61C3A1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.header__body-inner {
  display: flex;
  position: relative;
  gap: 30px;
  justify-content: space-between;
}
.header__content {
  margin: auto 0;
}
.header__title {
  max-width: 630px;
  margin-bottom: 32px;
}
.header__btn-box {
  display: flex;
  align-items: center;
  gap: 33px;
  margin-bottom: 48px;
}
.header__play-btn {
  display: flex;
  gap: 8px;
  padding: 12px 16px;
  font-weight: 700;
  line-height: 1;
  align-items: center;
}
.header__play-btn svg {
  transition: 0.3s;
  border-radius: 50%;
}
.header__play-btn:hover svg {
  box-shadow: 0 0 0 8px rgba(49, 49, 49, 0.12);
}
.header__schedule {
  position: relative;
  padding-left: 45px;
}
.header__schedule::before {
  content: "";
  left: 1px;
  top: 12px;
  position: absolute;
  background: url("../images/icons/clock-icon.svg") no-repeat;
  width: 31px;
  height: 31px;
}
.header__img {
  width: 605px;
  height: 632px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.header__service {
  position: absolute;
  top: 80px;
  right: 330px;
  border-radius: 60px;
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 15px 38px 17px 14px;
}
.header__service::before {
  position: absolute;
  content: "";
  width: 304px;
  height: 126px;
  top: -12px;
  left: -12px;
  z-index: -1;
  border-radius: 66px;
  background-color: #FFFFFF;
  opacity: 0.43;
}
.header__service-icon {
  line-height: 175%;
  display: flex;
  gap: 3px;
  padding: 17px 9px 17px 13px;
  align-items: baseline;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #5CBA99;
  color: #FFFFFF;
}
.header__rating {
  position: absolute;
  bottom: 70px;
  right: -20px;
  border-radius: 60px;
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 24px 32px 24px 39px;
}
.header__rating::before {
  position: absolute;
  content: "";
  width: 346px;
  height: 126px;
  top: -12px;
  left: -12px;
  z-index: -1;
  border-radius: 66px;
  background-color: #FFFFFF;
  opacity: 0.43;
}
.header__rating-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__rating-caption .caption-nums {
  color: #1E1B1B;
  margin-bottom: -5px;
}
.services__heading {
  margin-bottom: 64px;
}
.services .heading__subtitle {
  margin-bottom: 8px;
  text-align: center;
}
.services .heading__title {
  text-align: center;
  max-width: 858px;
  margin: 0 auto;
}
.services__list {
  display: grid;
  grid-template: auto auto/repeat(4, 1fr);
  gap: 8px;
}
.services__list-item {
  transition: all 0.5s ease-in-out;
}
.services__list-item:hover {
  background-color: #FF6433;
}
.services__list-item:hover .services__list-text {
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}
.services__list-item:hover svg path {
  fill: #FFFFFF;
}
.services__list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px;
  max-width: 316px;
  height: 232px;
  justify-content: center;
  align-items: center;
}
.services__list-link svg path {
  fill: #1E1B1B;
  transition: all 0.5s ease-in-out;
}
.services__list-text {
  transition: all 0.7s ease-out;
}
.services__learn-more {
  margin-left: auto;
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: end;
}

.main__process {
  padding: 128px 0 134px;
}

.process__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
}
.process__content {
  max-width: 524px;
}
.process__title {
  margin-bottom: 16px;
}
.process__caption {
  margin-bottom: 32px;
  color: #1E1B1B;
  opacity: 0.6;
  line-height: 175%;
  max-width: 437px;
}
.process__list {
  max-width: 432px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.process__list-item {
  display: flex;
  gap: 24px;
}
.process__list-left {
  text-align: center;
  padding-bottom: 6px;
}
.process__list-right {
  align-self: flex-end;
}
.process__list-num {
  margin-bottom: 16px;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: url("../images/icons/circle-bg.svg") no-repeat;
}
.process__list-title {
  margin-bottom: 8px;
}
.process__list-caption {
  color: #1E1B1B;
  opacity: 0.6;
  line-height: 175%;
  font-size: 18px;
  max-width: 336px;
}

.main__contact {
  background: url("../images/contact-img-1.jpg") top left no-repeat, url("../images/contact-img-2.jpg") top right no-repeat;
  background-size: 873px 502px;
  padding-bottom: 48px;
}

.contact__cta {
  background-color: #FF6433;
  max-width: 729px;
  color: #FFFFFF;
  height: 502px;
  padding: 128px 80px;
  margin-bottom: 48px;
}
.contact__heading {
  margin-bottom: 48px;
}
.contact__btn {
  background-color: #1E1B1B;
  color: #FFFFFF;
}
.contact__stats {
  display: flex;
  gap: 186px;
}
.contact__stats-item {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  color: #5D5C5C;
  gap: 2px;
}
.contact__stats-num {
  color: #661CE7;
}

.main__brands {
  padding: 128px 0 82px;
  background-color: #E2E6E9;
}

.brands__title {
  margin-bottom: 31px;
  text-align: center;
}
.brands__grid {
  display: grid;
  gap: 38px;
  justify-content: center;
  grid-template: repeat(2, auto)/repeat(5, auto);
}
.brands__grid-item {
  opacity: 0.8;
}
.brands__grid-item:hover {
  opacity: 1;
}
.brands__grid-link {
  display: block;
}

.main__blog {
  padding-top: 130px;
}

.blog__heading {
  margin-bottom: 47px;
}
.blog__btn-box {
  display: flex;
  gap: 30px;
  margin-bottom: 46px;
}
.blog__filter-btn {
  background-color: #FFFFFF;
  position: relative;
}
.blog__filter-btn::after {
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #1E1B1B;
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}
.blog__filter-btn:hover::after {
  width: 100%;
  opacity: 0.9;
}
.blog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 32px;
}
.blog__item {
  max-width: 405px;
  flex: 1 1 33.333%;
}
.blog__item-link {
  display: block;
  transition: all 0.3s ease-in-out;
}
.blog__item-link:hover {
  transform: translateY(-5px);
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.1);
}
.blog__item-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.blog__image-box {
  margin-bottom: 8px;
}
.blog__image-box img {
  max-width: 405px;
}
.blog__item-info {
  line-height: 175%;
  color: #939191;
  margin-bottom: 16px;
}
.blog__item-text {
  line-height: 28px;
}/*# sourceMappingURL=style.css.map */