body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  color: #1E1B1B;
  background-color: #FFFFFF;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.heading-h1 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 130%;
  letter-spacing: -0.03em;
}

.heading-h2 {
  font-weight: 800;
  font-size: 58px;
  letter-spacing: -0.03em;
  line-height: 130%;
}

.heading-h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.heading-h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.heading-h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
}

.heading-h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.title-1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.title-2 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.caption {
  font-weight: 500;
  line-height: 150%;
  color: #616060;
}

.text-1 {
  font-size: 18px;
  line-height: 175%;
}

.caption-nums {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.button {
  font-size: 18px;
  line-height: 175%;
  color: #FFFFFF;
  padding: 16px 40px;
  background-color: #FF6433;
  border-radius: 12px;
  transition: 0.3s;
  white-space: nowrap;
}
.button:hover {
  transform: scale(1.05);
}

.main__services {
  padding: 128px 0;
}
.main__process {
  padding: 134px 0;
}
.main__contact {
  background: url("../images/contact-img-2.jpg") top right no-repeat, url("../images/contact-img-1.jpg") top left no-repeat;
  background-size: 873px 502px;
  padding-bottom: 48px;
}
.main__brands {
  padding: 128px 0 82px;
  background-color: #E2E6E9;
}
.main__blog {
  padding: 130px 0 136px;
}
.main__customers {
  padding: 128px 0 150px;
  background-color: #F2F2F2;
}
.main__questions {
  padding: 128px 0;
  background-color: #E2E6E9;
}
.main__contacts {
  padding: 121px 0 178px;
}
.header {
  height: 93vh;
  padding-bottom: 135px;
  display: flex;
  flex-direction: column;
}
.header__top-inner {
  padding: 18px 0 96px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  height: 28px;
  width: 122px;
}
.header__nav {
  margin-left: auto;
}
.header__nav-list {
  display: flex;
  gap: 40px;
}
.header__nav-link {
  position: relative;
}
.header__nav-link::after {
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #1E1B1B;
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}
.header__nav-link:hover::after {
  width: 100%;
  opacity: 0.9;
}
.header__contact-box {
  display: flex;
  gap: 14px;
  margin-left: 64px;
  align-items: center;
}
.header__contact-box::before {
  content: "";
  height: 42px;
  width: 1px;
  margin-right: 16px;
  background-color: #939191;
  opacity: 0.36;
}
.header .icon-contact {
  background-color: #61C3A1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.header__body-inner {
  display: flex;
  position: relative;
  gap: 30px;
  justify-content: space-between;
}
.header__content {
  margin: auto 0;
}
.header__title {
  width: 630px;
  margin-bottom: 32px;
}
.header__btn-box {
  display: flex;
  align-items: center;
  gap: 33px;
  margin-bottom: 48px;
}
.header__play-btn {
  display: flex;
  gap: 8px;
  padding: 12px 16px;
  font-weight: 700;
  line-height: 1;
  align-items: center;
}
.header__play-btn svg {
  transition: 0.3s;
  border-radius: 50%;
}
.header__play-btn:hover svg {
  box-shadow: 0 0 0 8px rgba(49, 49, 49, 0.12);
}
.header__schedule {
  position: relative;
  padding-left: 45px;
}
.header__schedule::before {
  content: "";
  left: 1px;
  top: 12px;
  position: absolute;
  background: url("../images/icons/clock-icon.svg") no-repeat;
  width: 31px;
  height: 31px;
}
.header__img {
  z-index: -1;
  width: 605px;
  height: 632px;
}
.header__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__service {
  position: absolute;
  top: 80px;
  right: 355px;
  border-radius: 60px;
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 15px 38px 17px 14px;
}
.header__service::before {
  position: absolute;
  content: "";
  width: 304px;
  height: 126px;
  top: -12px;
  left: -12px;
  z-index: -1;
  border-radius: 66px;
  background-color: #FFFFFF;
  opacity: 0.43;
}
.header__service-icon {
  line-height: 175%;
  display: flex;
  gap: 3px;
  padding: 17px 9px 17px 13px;
  align-items: baseline;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #5CBA99;
  color: #FFFFFF;
}
.header__rating {
  position: absolute;
  bottom: 70px;
  right: -20px;
  border-radius: 60px;
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 24px 32px 24px 39px;
}
.header__rating::before {
  position: absolute;
  content: "";
  width: 346px;
  height: 126px;
  top: -12px;
  left: -12px;
  z-index: -1;
  border-radius: 66px;
  background-color: #FFFFFF;
  opacity: 0.43;
}
.header__rating-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__rating-caption .caption-nums {
  color: #1E1B1B;
  margin-bottom: -5px;
}
.services__heading {
  margin-bottom: 64px;
}
.services .heading__subtitle {
  margin-bottom: 8px;
  text-align: center;
}
.services .heading__title {
  text-align: center;
  max-width: 858px;
  margin: 0 auto;
}
.services__list {
  display: grid;
  grid-template: auto auto/repeat(4, 1fr);
  gap: 8px;
}
.services__list-item {
  transition: all 0.5s ease-in-out;
}
.services__list-item:hover {
  background-color: #FF6433;
}
.services__list-item:hover .services__list-text {
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}
.services__list-item:hover svg path {
  fill: #FFFFFF;
}
.services__list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px;
  max-width: 316px;
  height: 232px;
  justify-content: center;
  align-items: center;
}
.services__list-link svg path {
  fill: #1E1B1B;
  transition: all 0.5s ease-in-out;
}
.services__list-text {
  transition: all 0.7s ease-out;
  text-align: center;
}
.services__learn-more {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: end;
}

.process__inner {
  display: flex;
  gap: 140px;
  margin: 0 auto;
}
.process__content {
  max-width: 524px;
}
.process__title {
  margin-bottom: 16px;
}
.process__caption {
  margin-bottom: 32px;
  color: #1E1B1B;
  opacity: 0.6;
  line-height: 175%;
  max-width: 437px;
}
.process__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.process__list-item {
  display: flex;
  gap: 24px;
}
.process__list-left {
  text-align: center;
  padding-bottom: 6px;
}
.process__list-num {
  margin-bottom: 16px;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: url("../images/icons/circle-bg.svg") no-repeat;
}
.process__list-title {
  margin-bottom: 8px;
}
.process__list-caption {
  color: #1E1B1B;
  opacity: 0.6;
  line-height: 175%;
  font-size: 18px;
  width: 300px;
}

.contact__cta {
  background-color: #FF6433;
  max-width: 729px;
  color: #FFFFFF;
  height: 502px;
  padding: 128px 80px;
  margin-bottom: 48px;
}
.contact__heading {
  margin-bottom: 48px;
}
.contact__btn {
  background-color: #1E1B1B;
  color: #FFFFFF;
}
.contact__stats {
  display: flex;
  justify-content: space-between;
}
.contact__stats-item {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  color: #5D5C5C;
  gap: 2px;
}
.contact__stats-num {
  color: #661CE7;
}

.brands__title {
  margin-bottom: 31px;
  text-align: center;
}
.brands__grid {
  display: grid;
  gap: 38px;
  justify-content: center;
  grid-template: repeat(2, auto)/repeat(5, auto);
}
.brands__grid-item {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}
.brands__grid-item:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.brands__grid-link {
  display: block;
}
.brands__grid-link img {
  width: 100%;
  height: 100%;
}

.blog__heading {
  margin-bottom: 47px;
}
.blog__btn-box {
  display: flex;
  gap: 30px;
  margin-bottom: 46px;
}
.blog__filter-btn {
  background-color: #FFFFFF;
  position: relative;
}
.blog__filter-btn::after {
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #1E1B1B;
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}
.blog__filter-btn:hover::after {
  width: 100%;
  opacity: 0.9;
}
.blog__list {
  display: grid;
  grid-template: repeat(2, auto)/repeat(3, 1fr);
  gap: 64px 32px;
}
.blog__item {
  max-width: 405px;
  flex: 1 1 33.333%;
}
.blog__item-link {
  display: block;
  transition: all 0.3s ease-in-out;
}
.blog__item-link:hover {
  transform: translateY(-5px);
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.1);
}
.blog__item-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.blog__image-box {
  margin-bottom: 8px;
}
.blog__image-box img {
  max-width: 405px;
  width: 100%;
  height: 100%;
}
.blog__item-info {
  line-height: 175%;
  color: #939191;
  margin-bottom: 16px;
}
.blog__item-text {
  line-height: 28px;
}

.customers__heading {
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}
.customers__slider-wrapper {
  position: relative;
}
.customers__slider {
  margin-top: 76px;
}
.customers__slider .slick-list {
  margin: 0 -12px;
}
.customers__slide-wrapper {
  padding: 0 12px;
}
.customers__slide {
  background-color: #FFFFFF;
  padding: 72px;
  border: 1px solid rgba(172, 172, 172, 0.29);
  border-radius: 6px;
  max-width: 616px;
}
.customers__user {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.customers__avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.customers__info-city {
  color: #939191;
}
.customers__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  gap: 15px;
}
.customers__dots button {
  font-size: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 30px;
}
.customers__dots button::before {
  content: "";
  width: 32px;
  height: 4px;
  background-color: #939191;
  transition: all 0.3s;
}
.customers__dots .slick-active button::before {
  background-color: #FF6433;
}
.customers__arrows {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: -23px;
  gap: 24px;
}
.customers__arrows-item {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: all 0.3s;
}
.customers__arrows-item svg path {
  transition: all 0.3s;
}
.customers__arrows-item:hover {
  transform: scale(1.3);
  transition: all 0.3s;
  background-color: #1E1B1B;
}
.customers__arrows-item:hover svg path {
  fill: #FFFFFF;
  transition: all 0.3s;
}

.questions__heading {
  margin-bottom: 86px;
  text-align: center;
}
.questions__accordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.questions__accordion-item {
  margin: 0 auto;
  padding: 40px;
  max-width: 900px;
  width: 100%;
  background-color: #FFFFFF;
}
.questions__accordion-link {
  position: relative;
}
.questions__accordion-text {
  margin-top: 16px;
  display: none;
  color: #939191;
  max-width: 700px;
}
.questions__accordion-toggle {
  position: relative;
  position: absolute;
  top: -8px;
  right: 0px;
  width: 51px;
  height: 51px;
  background-color: #FF6433;
}
.questions__accordion-toggle::before, .questions__accordion-toggle::after {
  position: absolute;
  content: "";
  top: 25px;
  right: 17px;
  width: 17px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 2px;
}
.questions__accordion-toggle::before {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}
.questions__accordion-item--active .questions__accordion-toggle::before {
  transform: rotate(0deg);
}

.contacts__heading {
  max-width: 500px;
  margin-bottom: 48px;
}
.contacts__content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contacts__form-label {
  color: #1E1B1B;
}
.contacts__form-label select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.contacts__form-input {
  resize: none;
  width: 624px;
  padding: 23px 40px;
  background-color: #F2F2F2;
  color: #1E1B1B;
  font-size: inherit;
  font-family: inherit;
}
.contacts__form-input::-moz-placeholder {
  color: #616060;
}
.contacts__form-input:-ms-input-placeholder {
  color: #616060;
}
.contacts__form-input::placeholder {
  color: #616060;
}
.contacts__form-btn {
  margin-top: 48px;
  margin-right: auto;
}
.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contacts__info-caption {
  opacity: 0.7;
  margin-bottom: 2px;
}
.map__content {
  height: 512px;
  max-width: 1280px;
  width: 100%;
  filter: grayscale(1);
}
.map__bg {
  margin-top: -168px;
}
.map__bg img {
  height: 448px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.footer__top {
  background-color: #222020;
  color: #FFFFFF;
  padding: 128px 0;
}
.footer__top-inner {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.footer__content {
  max-width: 463px;
}
.footer__socials {
  margin-top: 64px;
  display: flex;
  gap: 24px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: 153px;
}
.footer__contacts-caption {
  opacity: 0.6;
  margin-bottom: 8px;
}
.footer__bottom {
  background-color: #1E1B1B;
  color: #FFFFFF;
}
.footer__bottom-inner {
  padding: 65px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__nav-list {
  display: flex;
  gap: 36px;
  margin-left: 120px;
}
.footer__copyright {
  color: #939191;
}

@media (max-width: 1300px) {
  .main__contact {
    background: url("../images/contact-img-2.jpg") top right no-repeat;
  }
  .header__service {
    top: 20px;
  }
}
@media (max-width: 1200px) {
  .header__service {
    display: none;
  }
}
@media (max-width: 1100px) {
  .heading-h1,
.heading-h2 {
    font-size: 3.5rem;
  }
  .title-1 {
    font-size: 24px;
  }
  .header__title {
    max-width: 490px;
  }
  .process__inner {
    gap: 60px;
  }
  .process__title {
    max-width: 500px;
  }
  .process__list-caption {
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  .header__img {
    display: none;
  }
  .header__rating {
    display: none;
  }
  .services__heading {
    margin-bottom: 25px;
  }
  .services__list {
    grid-template: auto auto/repeat(3, 1fr);
  }
  .services__learn-more {
    flex-direction: column;
    gap: 0;
    width: 270px;
    margin-left: auto;
    margin-top: -150px;
    text-align: center;
  }
  .process__inner {
    flex-direction: column;
  }
  .process__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 700px) {
  .heading-h1,
.heading-h2 {
    font-size: 3rem;
  }
  .header__title {
    max-width: 465px;
    width: 100%;
  }
  .services__list {
    grid-template: auto/repeat(2, auto);
  }
  .services__list-link {
    padding: 0;
    height: 200px;
  }
  .services__learn-more {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-left: 0;
    justify-content: start;
  }
  .services__learn-more svg {
    width: 40px;
  }
}
@media (max-width: 475px) {
  .heading-h1,
.heading-h2 {
    font-size: 2.5rem;
  }
  .title-2 {
    font-size: 18px;
  }
  .text-1 {
    font-size: 16px;
  }
  .header__btn-box {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 375px) {
  .services__list-link {
    height: 150px;
  }
}/*# sourceMappingURL=style.css.map */