// /* Color styles */
// --secondary: #661CE7;
// --primary: #FF6433;
// --mint: #00D289;
$--black: #1E1B1B;
// --grey: #939191;
// --light--grey: #F2F2F2;
// --steelgrey: #E2E6E9;
$--white: #FFFFFF;

// /* Text-size styles */  
// --heading-h1: 4rem;
// --heading-h2: 3.62rem;
// --headingh3: 3rem;
// --heading--h4: 2.5rem;
// --title-01: 2rem;
// --title-02: 1.5rem;
// --body-01: 1.12rem;
// --body-02: 1rem;
// --caption: 1rem;
// --heading-6: 1.25rem;
// --heading-5: 2rem;

// /* Effect styles */
// --g:  0px 28px 118px rgba(109, 108, 115, 0.08);
// --d-e:  11px 130px 100px rgba(0, 0, 0, 0.02);

html {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  color: $--black;
  background-color: $--white;
}

.header {
  height: 80 vh;
  &__top {
    height: 90px;
  }
  &__logo {}

  &__nav {}

  &__nav-list {}

  &__nav-item {}

  &__nav-link {}

  &__body {}

  &__body-inner {}

  &__content {}

  &__title {}

  &__btn-box {}

  &__main-btn {}

  &__play-btn {}

  &__schedule {}

  &__schedule-subtitle {}

  &__schedule-title {}

  &__img {
    width: 605px;
    height: 632px;
    object-fit: cover;
  }

  &__service {}

  &__service-icon {}

  &__service-text {}

  &__rating {}

  &__rating-caption {}

  &__rating-stars {}
}

.logo {}

.contact-box {

  &_icon {}

  &__info {}

  &__caption {}

  &__link {}
}

.container {}

.title {}

.button {}

.caption {}

.body-text {}

.caption-nums {}

.caption-text {}

.body-text {

}
