// /* Color styles */
$--secondary: #661CE7;
$--primary: #FF6433;
$--green: #5CBA99;
$--mint: #00D289;
$--black: #1E1B1B;
$--grey: #616060;
$--light--grey: #F2F2F2;
$--steelgrey: #E2E6E9;
$--white: #FFFFFF;

// /* Text-size styles */  
// --heading-h1: 4rem;
// --heading-h2: 3.62rem;
// --headingh3: 3rem;
// --heading--h4: 2.5rem;
// --title-01: 2rem;
// --title-02: 1.5rem;
// --body-01: 1.12rem;
// --body-02: 1rem;
// --caption: 1rem;
// --heading-6: 1.25rem;
// --heading-5: 2rem;

// /* Effect styles */
// --g:  0px 28px 118px rgba(109, 108, 115, 0.08);
// --d-e:  11px 130px 100px rgba(0, 0, 0, 0.02);

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// GLOBAL 
body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  color: $--black;
  background-color: $--white;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.logo {}

.icon-contact {}

.heading-h1 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 130%;
  letter-spacing: -0.03em;
}

.heading-h2 {
  font-weight: 800;
  font-size: 58px;
  letter-spacing: -0.03em;
  line-height: 130%;
}

.heading-h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.heading-h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.heading-h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
}

.heading-h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.title-1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.title-2 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.caption {
  font-weight: 500;
  line-height: 150%;
  color: $--grey;
}

.text-1 {
  font-size: 18px;
  line-height: 175%;
}

.caption-nums {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  // color: $--white;
}


.button {
  font-size: 18px;
  line-height: 175%;
  color: $--white;
  padding: 16px 40px;
  background-color: $--primary;
  border-radius: 12px;
  transition: .3s;

  &:hover {
    transform: scale(1.05);
  }
}



.main {

  &__services {
    padding-top: 128px;
  }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// HEADER 
.header {
  height: 93vh;
  padding-bottom: 135px;
  display: flex;
  flex-direction: column;

  &__top {}

  &__top-inner {
    padding: 18px 0 96px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 28px;
    width: 122px;
  }

  &__nav {
    margin-left: auto;
  }

  &__nav-list {
    display: flex;
    gap: 40px;
  }

  &__nav-item {}

  &__nav-link {
    position: relative;

    &::after {
      bottom: -4px;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      background: $--black;
      opacity: 0.6;
      transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
      width: 0;
    }

    &:hover::after {
      width: 100%;
      opacity: .9;
    }
  }


  &__contact-box {
    display: flex;
    gap: 14px;
    margin-left: 64px;
    align-items: center;

    &::before {
      content: '';
      height: 42px;
      width: 1px;
      margin-right: 16px;
      background-color: #939191;
      opacity: 0.36;
    }
  }

  &__info {}

  &__caption {}

  &__link {}

  .icon-contact {
    background-color: #61C3A1;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__body {}

  &__body-inner {
    display: flex;
    position: relative;
    gap: 30px;
    justify-content: space-between;
  }

  &__content {
    margin: auto 0;
  }

  &__title {
    max-width: 630px;
    margin-bottom: 32px;
  }

  &__btn-box {
    display: flex;
    align-items: center;
    gap: 33px;
    margin-bottom: 48px;
  }

  &__main-btn {}

  &__play-btn {
    display: flex;
    gap: 8px;
    padding: 12px 16px;
    font-weight: 700;
    line-height: 1;
    align-items: center;

    & svg {
      transition: .3s;
      border-radius: 50%;
    }

    &:hover svg {
      box-shadow: 0 0 0 8px rgba(49, 49, 49, 0.12);
    }
  }


  &__schedule {
    position: relative;
    padding-left: 45px;

    &::before {
      content: '';
      left: 1px;
      top: 12px;
      position: absolute;
      background: url('../images/icons/clock-icon.svg') no-repeat;
      width: 31px;
      height: 31px;
    }
  }

  &__schedule-subtitle {}

  &__schedule-title {}

  &__img {
    width: 605px;
    height: 632px;
    object-fit: cover;
    z-index: -1;
  }

  &__service {
    position: absolute;
    top: 80px;
    right: 355px;
    border-radius: 60px;
    box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
    background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 15px 38px 17px 14px;

    &::before {
      position: absolute;
      content: '';
      width: 280px + 24px;
      height: 102px + 24px;
      top: -12px;
      left: -12px;
      z-index: -1;
      border-radius: 66px;
      background-color: $--white;
      opacity: .43;
    }
  }

  &__service-icon {
    line-height: 175%;
    display: flex;
    gap: 3px;
    padding: 17px 9px 17px 13px;
    align-items: baseline;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $--green;
    color: $--white;
  }

  &__service-text {}

  &__rating {
    position: absolute;
    bottom: 70px;
    right: -20px;
    border-radius: 60px;
    box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
    background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 24px 32px 24px 39px;

    &::before {
      position: absolute;
      content: '';
      width: 322px + 24px;
      height: 102px + 24px;
      top: -12px;
      left: -12px;
      z-index: -1;
      border-radius: 66px;
      background-color: $--white;
      opacity: .43;
    }
  }

  &__rating-caption {
    display: flex;
    flex-direction: column;
    align-items: center;

    .caption-nums {
      color: $--black;
      margin-bottom: -5px;
    }
  }

  &__rating-stars {}
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// SERVICES 
.services {

  &__inner {}

  &__heading {
    margin-bottom: 64px;
  }

  .heading {
    &__subtitle {
      margin-bottom: 8px;
      text-align: center;
    }

    &__title {
      text-align: center;
      max-width: 858px;
      margin: 0 auto;
    }
  }

  &__list {
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
    gap: 8px;
  }

  &__list-item {
    transition: all .5s ease-in-out;

    &:hover {
      background-color: $--primary;

      & .services__list-text {
        color: $--white;
        transition: all .5s ease-in-out;
      }

      & svg path {
        fill: $--white;
      }
    }
  }

  &__list-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 20px;
    max-width: 316px;
    height: 232px;
    justify-content: center;
    align-items: center;

    & svg path {
      fill: $--black;
      transition: all .5s ease-in-out;
    }

  }

  &__list-text {
    transition: all .7s ease-out;
  }

  &__learn-more {
    margin-left: auto;
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: end;
  }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// PROCESS
.main {

  &__process {
    padding: 128px 0 134px;
  }
}

.process {

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0 auto;
  }

  &__content {
    max-width: 524px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__caption {
    margin-bottom: 32px;
    color: $--black;
    opacity: .6;
    line-height: 175%;
    max-width: 437px;
  }

  &__list {
    max-width: 432px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__list-item {
    display: flex;
    gap: 24px;
  }

  &__list-left {
    text-align: center;
    padding-bottom: 6px;
  }

  &__list-right {
    align-self: flex-end;
  }

  &__list-num {
    margin-bottom: 16px;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $--white;
    background: url("../images/icons/circle-bg.svg") no-repeat;
  }

  &__list-title {
    margin-bottom: 8px;
  }

  &__list-caption {
    color: $--black;
    opacity: .6;
    line-height: 175%;
    font-size: 18px;
    max-width: 336px;
  }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// CONTACT
.main {

  &__contact {
    background: url("../images/contact-img-1.jpg") top left no-repeat, url("../images/contact-img-2.jpg") top right no-repeat;
    background-size: 873px 502px;
    padding-bottom: 48px;
  }
}

.contact {

  &__inner {}

  &__cta {
    background-color: $--primary;
    max-width: 729px;
    color: $--white;
    height: 502px;
    padding: 128px 80px;
    margin-bottom: 48px;
  }

  &__heading {
    margin-bottom: 48px;
  }

  &__btn {
    background-color: $--black;
    color: $--white;
  }

  &__stats {
    display: flex;
    gap: 186px;
  }

  &__stats-item {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    color: #5D5C5C;
    gap: 2px;
  }

  &__stats-num {
    color: $--secondary;
  }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// BRANDS
.main {

  &__brands {
    padding: 128px 0 82px;
    background-color: #E2E6E9;
  }
}

.brands {

  &__inner {}

  &__title {
    margin-bottom: 31px;
    text-align: center;
  }

  &__grid {
    display: grid;
    gap: 38px;
    justify-content: center;
    grid-template: repeat(2, auto) / repeat(5, auto);
  }

  &__grid-item {
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }

  &__grid-link {
    display: block;
  }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// BLOG
.main {

  &__blog {
    padding: 130px 0 136px;
  }
}

.blog {

  &__inner {}

  &__heading {
    margin-bottom: 47px;
  }

  &__body {}

  &__btn-box {
    display: flex;
    gap: 30px;
    margin-bottom: 46px;
  }

  &__filter-item {}

  &__filter-btn {
    background-color: $--white;
    position: relative;

    &::after {
      bottom: -4px;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      background: $--black;
      opacity: 0.6;
      transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
      width: 0;
    }

    &:hover::after {
      width: 100%;
      opacity: .9;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 32px;
  }

  &__item {
    max-width: 405px;
    flex: 1 1 33.333%;
  }

  &__item-link {
    display: block;
    transition: all .3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.1);
    }
  }

  &__item-inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__image-box {
    margin-bottom: 8px;
  }

  &__image-box img {
    max-width: 405px;
  }

  &__item-content {}

  &__item-info {
    line-height: 175%;
    color: #939191;
    margin-bottom: 16px;
  }

  &__item-heading {}

  &__item-text {
    line-height: 28px;
  }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// CUSTOMERS
.main {

  &__customers {
    padding: 128px 0 150px;
    background-color: $--light--grey;
  }
}

.customers {

  &__inner {}

  &__heading {
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
  }

  &__slider-wrapper {
    position: relative;
  }

  &__slider {
    margin-top: 76px;
  }

  &__slider .slick-list {
    margin: 0 -23px;
  }

  &__slide-wrapper {
    padding: 0 24px;
  }

  &__slide {
    background-color: $--white;
    padding: 72px;
    border: 1px solid rgba(172, 172, 172, 0.29);
    // box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    max-width: 616px;
  }

  &__user {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__avatar img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  &__info {}

  &__info-name {}

  &__info-city {
    color: #939191;
  }

  &__text {}

  &__dots {

    & .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 17px;
      gap: 15px;
    }

    & button {
      font-size: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      height: 30px;
    }

    & button::before {
      content: '';
      width: 32px;
      height: 4px;
      background-color: #939191;
      transition: all .3s;

    }

    & .slick-active button::before {
      background-color: $--primary;
    }

  }

  &__arrows {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: -23px;
    gap: 24px;

    &-item {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $--white;
      transition: all .3s;

      & svg path {
        transition: all .3s;
      }

      &:hover {
        transform: scale(1.3);
        transition: all .3s;
        background-color: $--black;

        & svg path {
          fill: $--white;
          transition: all .3s;
        }
      }
    }
  }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// FAQ
.main {

  &__questions {
    padding: 128px 0;
    background-color: $--steelgrey;
  }
}

.questions {

  &__inner {}

  &__heading {
    margin-bottom: 86px;
    text-align: center;
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__accordion-item {
    margin: 0 auto;
    padding: 40px;
    max-width: 900px;
    width: 100%;
    background-color: $--white;
  }

  &__accordion-link {
    position: relative;
  }

  &__accordion-label {
  }
  &__accordion-content {}

  &__accordion-text {
    margin-top: 16px;
    display: none;
    color: #939191;
    max-width: 700px;
  }
  &__accordion-toggle {
    position: relative;
    position: absolute;
    top: -8px;
    right: 0px;
    width: 51px;
    height: 51px;
    background-color: $--primary;
    &::before, &::after {
      position: absolute;
      content: '';
      top: 25px;
      right: 17px;
      width: 17px;
      height: 2px;
      background-color: $--white;
      border-radius: 2px;
    }
    &::before {
      transform: rotate(90deg);
      transition: all .3s ease-in-out;
    }
    .questions__accordion-item--active &::before {
      transform: rotate(0deg);
    }
  }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// CONTACTS
.main {

  &__contacts {
    padding: 121px 0 178px;
  }
}

.contacts {

  &__inner {}

  &__heading {
    max-width: 500px;
    margin-bottom: 48px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__form-label {
    color: $--black;

    & select {
      appearance: none;
    }
  }

  &__form-input {
    resize: none;
    width: 624px;
    padding: 23px 40px;
    background-color: $--light--grey;

    &::placeholder {
      color: $--black;
    }
  }

  &__form-btn {
    margin-top: 48px;
    margin-right: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__info-item {}

  &__address {}

  &__info-caption {
    opacity: .7;
    margin-bottom: 2px;
  }

  &__info-text {}

  &__details {}

  &__hours {}
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// MAP
.main {
  &__map {}
}

.map {
  &__content {
    height: 512px;
    max-width: 1280px;
    width: 100%;
    filter: grayscale(1);
  }

  &__bg {
    margin-top: -168px;

    & img {
      width: 100%;
    }
  }

}

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// FOOTER
.footer {

  &__top {
    background-color: #222020;
    color: $--white;
    padding: 128px 0;
  }

  &__top-inner {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }

  &__content {
    max-width: 463px;
  }

  &__heading {}

  &__socials {
    margin-top: 64px;
    display: flex;
    gap: 24px;
  }

  &__socials-item {}

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__contacts-item {}

  &__contacts-caption {
    opacity: .6;
    margin-bottom: 8px;
  }

  &__contacts-text {}

  &__bottom {
    background-color: $--black;
    color: $--white;
  }

  &__bottom-inner {
    padding: 65px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {}

  &__nav-list {
    display: flex;
    gap: 36px;
  }

  &__nav-item {}

  &__nav-link {}

  &__copyright {
    color: #939191;
  }
}

.title-2 {}

.logo {}